@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #383D3B;
    background-color: #52DEE5;

}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
 
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #52DEE5;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#lateral {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 270px;
    height: 700px;
    border: 1px solid #383D3B;
    
}

#lateral h2 {
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: start;  
}

#entradaForm, #saidaForm, #valorPago{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    
}

label {
    width: 160%;
    text-align: start;
    font-weight: bold;
}

input {
    width: 160px;
    height: 30px;
    border-radius: 20px;
    border: none;
}

.submit {
    width: 160px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #383D3B;
    color: #52DEE5;
    font-weight: bold;
    cursor: pointer;
}

.listaVeiculosValor {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#veiculos-registrados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 500px;
    border: 1px solid #383D3B;
}

#tabelaEstacionados {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.valor {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: end;
   width: 500px;
   height: 200px;
   border: 1px solid #383D3B;
}

.valor h3 {    
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: start;  
}

.submitPagamento {
    display: flex;
    width: 160px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: #383D3B;
    color: #52DEE5;
    font-weight: bold;
    cursor: pointer;
}








