@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #EEE5E9;
    background-image: url("../img/estacionamento.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    height: 100vh;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 3, 3, 0.9); /* Change the opacity value to adjust the black layer */
    mix-blend-mode: normal;
    z-index: -1;
    pointer-events: none;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#title  {
    font-size: 40px;
    margin-bottom: 50px;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 555px;
    margin-bottom: 20px;
}

#email {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #383D3B;
}

.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 555px;
    margin-bottom: 20px;
}

#password {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #383D3B;
}

.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 555px;
    height: 25px;
    border-radius: 20px;
    margin: 0 auto;
}

#submit {
    width: 300px;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: #383D3B;
    color: #EEE5E9;
    font-weight: 400;
    font-size: 15px;
    margin-top: 40px;
}

#submit:hover {
    background-color: #00f5d0;
    color: #383D3B;
}

input {
   text-align: center;
}